---
import Layout from "../layout/default.astro";
import PlayerCard from "./PlayerCard.astro";
import { db, eq, desc, Player, Match, MatchStats } from "astro:db";
const { player } = Astro.props;

const matchStats = await db
  .select()
  .from(MatchStats)
  .innerJoin(Match, eq(MatchStats.matchId, Match.id))
  .where(eq(MatchStats.playerId, player.id));

const form = matchStats.slice(-5).reduce((acc, { Match, MatchStats }) => {
  const gameForm = Match.raceTo === MatchStats.framesWon ? 1 : -1;
  acc += gameForm;
  return acc;
}, 0);

const stats = matchStats.reduce((acc, { Match, MatchStats }) => {
  if(Match.raceTo === MatchStats.framesWon) {
    acc.gamesWon += 1;
  }
  acc.totalGames += 1;

  acc.framesWon += MatchStats.framesWon;
  acc.totalFrames += Match.raceTo;

  return acc;
}, {
  gamesWon: 0,
  totalGames: 0,
  framesWon: 0,
  totalFrames: 0
});

const rows = await db
  .select()
  .from(Match)
  .innerJoin(MatchStats, eq(Match.id, MatchStats.matchId))
  .innerJoin(Player, eq(MatchStats.playerId, Player.id))
  .orderBy(desc(Match.createdAt));
const results = rows.reduce((acc: any, { Match, MatchStats, Player }) => {
  if (!acc[Match.id]) {
    acc[Match.id] = {
      ...Match,
      players: [],
    };
  }
  acc[Match.id].players.push({ ...Player, frames: MatchStats.framesWon });

  return acc;
}, {});

const recentMatches = Object.values(results).filter(
  (m) => m.players[0].id === player.id || m.players[1].id === player.id
);
---

<Layout pageTitle={player.name}>
  <PlayerCard
    id={player.id}
    name={player.name}
    picture={player.profileURI}
    form={form}
    handicap={player.handicap}
  >
    <slot />
  </PlayerCard>
  <h2 class="text-l my-4 text-center font-light">
    Wins overall
  </h2>
  <div class="relative overflow-x-auto shadow-sm rounded-lg">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500"
    >
      <tbody>
        {
          matchStats.length ? (
            <tr class="bg-white even:bg-gray-50 border-b border-gray-200">
              <td class="p-3 font-medium text-gray-900 text-center">
                Matches
              </td>
            </tr>
            <tr class="odd:bg-white even:bg-gray-50 border-b border-gray-200">
              <td class="p-3 font-medium">
                <div class="w-full bg-gray-200 rounded-full">
                  <div
                    class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full"
                    style={`width: ${Math.floor(stats.gamesWon * 100 / stats.totalGames)}%`}>{Math.floor(stats.gamesWon * 100 / stats.totalGames)}%</div>
                </div>
                <div class="text-xs text-center mt-2">{`${stats.gamesWon}/${stats.totalGames}`}</div>
              </td>
            </tr>
            <tr class="bg-white even:bg-gray-50 border-b border-gray-200">
              <td class="p-3 font-medium text-gray-900 text-center">
                Frames
              </td>
            </tr>
            <tr class="odd:bg-white even:bg-gray-50 border-b border-gray-200">
              <td class="p-3 font-medium">
                <div class="w-full bg-gray-200 rounded-full">
                  <div
                    class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full"
                    style={`width: ${Math.floor(stats.framesWon * 100 / stats.totalFrames)}%`}>{Math.floor(stats.framesWon * 100 / stats.totalFrames)}%</div>
                </div>
                <div class="text-xs text-center mt-2">{`${stats.framesWon}/${stats.totalFrames}`}</div>
              </td>
            </tr>
          ) : (
            <tr class="odd:bg-white even:bg-gray-50 border-b border-gray-200">
              <td class="py-4 font-medium text-center text-gray-900">
                No matches played yet.
              </td>
            </tr>
          )
        }
      </tbody>
    </table>
  </div>
  <h2 class="text-l my-4 text-center font-light">
    Match results
  </h2>
  <div class="relative overflow-x-auto shadow-sm rounded-lg">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500"
    >
      <tbody>
        {
          recentMatches.length ? (
            recentMatches.map((match: any) => {
              return (
                <tr class="odd:bg-white even:bg-gray-50 border-b border-gray-200">
                  <td class="py-4 font-medium  text-right text-gray-900 whitespace-nowrap">
                    {match.players[0].name}
                  </td>
                  <td class="py-4 w-16 text-right">
                    {match.players[0].frames}
                  </td>
                  <td class="py-4 text-center">-</td>
                  <td class="py-4 w-16">{match.players[1].frames}</td>
                  <td class="py-4  font-medium text-gray-900 whitespace-nowrap">
                    {match.players[1].name}
                  </td>
                </tr>
              );
            })
          ) : (
            <tr class="odd:bg-white even:bg-gray-50 border-b border-gray-200">
              <td class="py-4 font-medium text-center text-gray-900 whitespace-nowrap">
                No matches played yet.
              </td>
            </tr>
          )
        }
      </tbody>
    </table>
  </div>
</Layout>
