---
import pkg from "../../package.json" assert { type: "json" };

function removeTrailingSlash(str: string) {
  return str.replace(/\/+$/, '');
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { class: clazz, pageTitle } = Astro.props;
const description = Astro.props.description || pkg.description
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle} | Erranto</title>

    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="author" content={pkg.author} />
    <link rel="canonical" href={removeTrailingSlash(canonicalURL.href)} />
    <link rel="icon" type="image/png" href="/icon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <link
      rel="preload"
      href="https://fonts.cdnfonts.com/css/inter"
      as="font"
      crossorigin
    />

    <script
      async
      defer
      src="https://analytics.umami.is/script.js"
      data-website-id="3e8f8c7e-de17-40c6-bc2e-5362a6cc6cf8"
      data-domains="erranto.com,erranto-site.vercel.app"></script>

    <script is:inline>
      if (
        localStorage.getItem("color-theme") === "dark" ||
        (!("color-theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>

    <style is:global>
      pre.astro-code > code {
        /**
          Inline code segments now have a dark background defined.
          But this also overwrites the big code blocks background
          so we have to force it to be transparent.
        */
        background: transparent !important;
      }

      .format h3 {
        margin: revert !important;
      }
    </style>
  </head>

  <body
    class:list={[
      //
      clazz,
      "h-full",
      "flex flex-col mx-auto w-full max-w-screen-sm",
    ]}
  >
    <slot />
  </body>
</html>

<script>
  import "flowbite";
</script>
